@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark: theme('colors.dark');
  --darker: theme('colors.darker');
  --darkest: theme('colors.darkest');
  --contrast: theme('colors.contrast');
}

body {
  margin: 0;
  font-size: 16px;
  background-color: blue;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkest);
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0 0 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: white;
}

hr {
  border: none;
  height: 3px;
  background-color: var(--dark);
}
